*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root {
    --nav-bg: #000;
    /* --nav-bg-dark: #6D214F; */
    --tic-bg: #000;
    --white: #fff;
    --grey: #84817a;
    --black1: #222;
    --black2: #999;
}
body{
    /* background-color: rgb(255, 236, 212); */
    min-height: 100vh;
    overflow-x: hidden;
}
.container{
    position: relative;
    width: 100%;
    /* padding-left: 10px; */
   
}
.navigation{
    position: fixed;
    padding-left: 10px;
    width: 300px;
    height: 100%;
    background-image: url(Background-img-1.jpg);
    background-size: cover;
    /* background-color: var(--nav-bg); */
    border-left: 10px dotted transparent;
    transition: 0.5s;
    overflow: hidden;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li{
    position: relative;
    padding-left: 10px;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered{
    background: var(--white);
     
}
.navigation ul li:nth-child(1){
    margin-top: 11px;
    margin-bottom: 15px;
    pointer-events: none;
}
.navigation ul li:nth-child(2){
    padding-top: 18px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    position: relative;
    background-color: var(--white);
    padding-left: 15px;
    padding-bottom: 60px;
    /* pointer-events: none; */
    margin-bottom: 40px;
    /* border-right: 10px solid var(--nav-bg); */
}
.navigation ul li:nth-child(2) .title{
    font-size: 30px;
    padding-top: 15px;
    color: var(--black1);
    font-weight: 600;
}
.navigation ul li:last-child{
    position: absolute;
    display: block;
    bottom: -35%;
    /* margin-top: 132px; */
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-bottom: 15px;
    /* pointer-events: none; */
}
.navigation ul li:last-child li:hover{
    background-color: var(--black1);
    /* transform: scale(1.5); */
}
.navigation ul li a{
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a{
    color: var(--nav-bg);
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .profile-icon{
    position: absolute;
    color: var(--black1);
    display: flex;
    /* display: block; */
    /* float: left; */
    min-width: 60px;
    right: 25px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .icon ion-icon{
    font-size: 1.75em;
}
.navigation ul li a .profile-icon ion-icon{
    font-size: 6em;
    top: 3px;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before{
    content: '';
    position: absolute;
    right: 0;
    background: transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: -50px;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after{
    content: '';
    position: absolute;
    right: 0;
    background: transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    bottom: -50px;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}
.box{
    /* color: #fff; */
    /* padding: 20px; */
    display: none;
    /* margin-top: 20px; */
}
.header{
    height: 86px;
    width: 100%;
    display: block;
    background-color: var(--nav-bg);
    /* padding: 100px; */
}
.white-header-dash
{
    height: 55px;
    width: 100%;
    display: block;
    /* background-color: var(--nav-bg); */
    /* padding: 100px; */
}
.white-header
{
    height: 0px;
    width: 100%;
    display: block;
    /* background-color: var(--nav-bg); */
    /* padding: 100px; */
}
.header-title{
    text-align: center;
    color: var(--white);
    padding:27px;
    letter-spacing: 2px;
    font-size: 30px;
    word-spacing: 2px;
}
.search
{
    height: 60px;
    width: 100%;
    display: block;
    /* background-color: var(--nav-bg); */
    /* padding: 100px; */
}
.main-body{
    /* display: flex; */
    display: block;
    float: right;
    width: 78%;
    height: 30vh;
    right: 10px;
    
}
.ticket-grid{
    padding: 30px;
    padding-left: 15px;
    padding-top:30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    grid-column-gap: 30px;
    /* margin-right: 20px; */
    position: fixed;

}
.tic{
    width:250px;
    /* text-align: center; */
    padding-top: 85px;
    padding-left: 40px;
    padding-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px var(--black1);
    /* background-color: var(--tic-bg); */
    overflow: hidden;
    font-size: 15px;
    position: relative;
    color: var(--white);
    background-image: url(Background-img-1.jpg);
    background-size: cover;
    /* opacity: 0.9; */

    /* border: 2px solid black; */

}
.tic:nth-child(1){
    background-image: url(Background-img-2.jpg);
    background-size: cover;
}
.tic:nth-child(2){
    background-image: url(Background-img-3.jpg);
    background-size: cover;
}
.tic:nth-child(3){
    background-image: url(Background-img-4.jpg);
    background-size: cover;
}
.tic:nth-child(4){
    background-image: url(Background-img-5.jpg);
    background-size: cover;
}
.tic:hover {
    /* box-shadow: 0px 0px 15px 2px var(--nav-bg); */
    /* width: 523px; */
    /* font-size: 20.5px; */
    color: var(--white);
    background-color:var(--nav-bg);
    box-shadow: 0px 0px 20px 2px var(--black1);



}
.tic:hover .tic-count{
    color: var(--white);
    /* background-color:var(--nav-bg); */
}
.tic ion-icon{
    font-size: 60px;
    /* text-align: center; */
    /* white-space: nowrap; */
    line-height: 40px;
    display: flex;
    float: right;
    position: absolute;
    top: 30px;
    right: 40px;
}
.tic-count{
    position: absolute;
    float: right;
    right: 190px;
    font-size: 40px;
    top: 33px;
    color: var(--white);
    /* text-shadow: 0px 0px 5px var(--black1); */
}


.search{
    display: flex;
    align-items: center; 
    width: 100%;
    padding-left: 380px;
    padding-top: 20px;
}
.filter-head{
    margin-right: 20px;
    position: absolute;
    right: -500px;
    color: var(--black1);
    margin: 30px auto;
    width: 100%;
    margin-top: 80px;
    font-size: 20px;
    letter-spacing: 0.7px;
}
.filter  select {
    padding: 10px ;
    padding-left: 10px;
    text-align: center;
    width: 400px;
    font-size: 20px;
    margin-top: 200px;

    border : 2px solid var(--black1);
}
.filter  option:nth-child(odd){
    padding: 10px ;
    padding-left: 10px;
    text-align: center;
    background-color: var(--nav-bg);
    color: var(--white);
    width: 400px;
    font-size: 20px;
    /* margin-top: 200px; */

    border : 2px solid var(--nav-bg);
}
.filter  option:nth-child(even){
    padding: 10px ;
    padding-left: 10px;
    text-align: center;
    background-color: var(--white);
    color: var(--nav-bg);
    width: 400px;
    font-size: 20px;
    /* margin-top: 200px; */

    border : 2px solid var(--nav-bg);
}
.filter ion-icon{
    font-size: 2em;
    top: 10px;
    /* display: flex; */
}
.Customer-table{
    margin: 150px 40px;
    width: 93%;
    display: grid;
    padding: 20px;
    box-shadow: 0px 0px 20px 1px var(--nav-bg);
    border-radius: 20px;
}
.table-header{
    padding-top: 20px;
    padding-bottom: 30px;
    
}
.Customer-table table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.Customer-table table thead td{
    font-weight: 600;
   
}
.Customer-table table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}
.Customer-table table tr:last-child{
    border-bottom: none;
}
.Customer-table table tbody tr:hover{
    background-color: var(--nav-bg);
    color: var(--white);
}
.Customer-table table tr td{
    padding: 10px;
}
.Customer-table table .Approve a{
    background-color: var(--black1);
    color: var(--white);
    text-decoration: none;
    padding: 5px;
}
.Customer-table table tr:hover td  a{
    background-color: var(--white);
    color: var(--black1);
    font-weight: 400;
}
.Customer-table table tr td  a:hover{
    /* font-size: px; */
    background-color: var(--white);

}
.profile-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:30px ;
    font-size: 18px;
    position: relative;
}
form{
    display: table;
    width: 750px;
}
.profile-div form div{
    margin-bottom: 30px;
    padding-left: auto;
    /* box-shadow: 0px 0px 1px 1px var(--black1); */
    /* border-radius: 30px; */
    
    display: table-row;
    /* margin-right: 30px; */
    height: 50px;
}
.profile-div form div label{
    margin-bottom: 10px;
    padding-left: 70px;
    /* box-shadow: 0px 0px 8px 2px var(--black1); */
    /* border-bottom-left-radius: 30px; */
    /* border-top-left-radius: 30px; */
}
.profile-div form div:hover{
    background-color: var(--nav-bg);
    color: var(--white);
    /* border-radius: 30px; */
}
.profile-div form div input{
    padding: 10px;
    font-size: 16px;
    border-radius: 30px;
    border: 2px solid var(--nav-bg);
    box-shadow: 0px 0px 8px 2px var(--black1);
}
label { display: table-cell; }
input { display: table-cell; }

.changepass{
    border: 2px solid black;
}
.update{
    display:flex;
    position: absolute;
    padding: 10px 75px;
    float: right;
    border-radius: 30px;
    
    box-shadow: 0px 0px 10px 1px var(--nav-bg);
    top: 104%;

    right: 45%;

    background-color: var(--white);

    border: 2px solid var(--nav-bg);
}
.update a{
    font-size: 15px;
    text-decoration: none;
    color: var(--black1);
}
.update:hover{
    background-color: var(--nav-bg);

    box-shadow: 0px 0px 15px 1px var(--nav-bg);

}
#Div2 {
    display: none;
  }
.update:hover a{
    color: var(--white);

}

.submit{
    display:flex;
    position: absolute;
    padding: 10px 75px;
    float: right;
    border-radius: 30px;
    
    box-shadow: 0px 0px 10px 1px var(--nav-bg);
    top: 104%;

    right: 45%;

    background-color: var(--nav-bg);

    border: 2px solid var(--nav-bg);
}
.submit a{
    font-size: 15px;
    text-decoration: none;
    color: var(--white);
   
}
.submit:hover{
    background-color: var(--white);
    font-weight: 600;
    box-shadow: 0px 0px 15px 1px var(--nav-bg);

}

.submit:hover a{
    color: var(--nav-bg);

}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 260px;
    background-color: #555;
    font-size: 15px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 40px;
    position: absolute;
    z-index: 1;
    /* bottom: -170%; */
    left: 75%;
    margin-top: 275px;
    margin-left: -545px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  .popupApprove {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popupApprove .popuptextApprove {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popupApprove .popuptextApprove::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popupApprove .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }


.card-outer{
    width: 60%;
    padding: 50px;
    height: auto;
    margin-left: 150px;
    position: absolute;
    top: 20%;
    /* border: 2px solid var(--black1); */
    box-shadow: 0px 0px 20px 2px var(--black1);
    border-radius: 20px;
    transition: all 0.5s;

}


.card-outer form div{
    float: left;
}
.card-main-div{
    padding: 10px;
    /* border: 2px solid var(--black1); */
    /* margin-bottom: 5px; */
    border-radius: 30px;
    /* box-shadow: 0px 0px 8px 2px var(--black1); */
    
    width: 50%;
  
}
.card-main-div div{
    width: 100%;
}
.card-head{
    padding-left: 7px;
    padding-bottom: 10px;
}
.card-main-div div label{
    margin-bottom: 8px;
    padding: 10px 5px;
    font-weight: 600;
    font-size: 20px;
    /* box-shadow: 0px 0px 8px 2px var(--black1); */
    /* border-bottom-left-radius: 30px; */
    /* border-top-left-radius: 30px; */
}
.card-outer{
    background-color: var(--nav-bg);
    color: var(--white);
    /* box-shadow: 0px 0px 20px 5px var(--black1); */

    /* border-radius: 30px; */
}
.card-outer:hover{
    box-shadow: 0px 0px 50px 5px var(--black1);

}
.card-main-div div input{
    padding: 10px;
    padding-right: 100px;
    font-size: 18px;
    border-radius: 30px;
    border: 2px solid var(--nav-bg);
    box-shadow: 0px 0px 8px 2px var(--black1);
}
label { display: table-cell; }
input { display: table-cell; }

.f textarea{
    padding:10px;
    margin: 10px;
    box-shadow: 0px 0px 20px 5px var(--black1);
    border:2px solid #000;
    height:170px; 
    width:920px;
    font-size: 20px;
    
}
.annouce-tab{
    right:75%;
    margin-top: 80px;
     width: 700px;
     font-size: 40px;
}
.f{
    margin-left:100px
}