/*~~~~~~~~~~~~~~~~~~~~~BASE SETUP~~~~~~~~~~~~~~~~~~~~~*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
}

a{
    text-decoration: none;
    /* this saves 50 extra lines of mentioning anchor again and agian for each change  */
    color: inherit;
}

iframe {
    width: 100%;
    height: 100vh;
    border: none;
}

:root {
    --darker-black: #0e0e0e;
    --lighter-black: #303030 ; 
    --smoke :#FFEFCA;

    --header-color: #227093;
    --header-font: #fff;
    --stages-default: #fff;
    --stages-hover: #227093;
  }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~main-header-container~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~CONTAINER SETUP - HEADER~~~~~~~~~~~~~~~~~~~~~*/


.main-header-container {
    width: 100%;
    background-color: var(--header-color);
    height: 12vh;
    /* margin: 6px auto; not a gud idea to remention color in body*/

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    
}

/*~~~~~~~~~~~~~~~~~~~~~LOGO~~~~~~~~~~~~~~~~~~~~~*/
.logo {position: relative;}

.logo > ion-icon{
    font-size: 40px;
    color: var(--header-font);

    background-size: cover;
    width: 10%;

    position: absolute;
    left: 5%;
    top: 20%;
    transform: scale(1.2);
}

/*~~~~~~~~~~~~~~~~~~~~~title-text~~~~~~~~~~~~~~~~~~~~~*/

.title-text {
    color: var(--header-font);

    margin: auto auto;
    /* text-align: center; */
    
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    /* font-style: italic; */
    font-weight: 600;
    letter-spacing: 1.5px;
    word-spacing: 1px;

    opacity: 0.7;
}

/* .title-text-top {
    transform: translateX(-145%) ;
    cuz used again at footer 
} */

.title-text:link,
.title-text:hover,
.title-text:active {
    opacity: 1;
    cursor:not-allowed;
}

/*~~~~~~~~~~~~~~~~~~~~~trigger-main-stages-container~~~~~~~~~~~~~~~~~~~~~*/

.main-header-container{
    position: relative;
    z-index: 10;
}

.main-header-container > .trigger-main-stages-container > ion-icon {
    font-size: 50px;
    color: var(--header-font);

    position: absolute;
    right: 4%;
    top: 20%;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~main-stages-container~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#stages {
    /* position: absolute;
    top: initial;
    left: 0px;
    right: 0px;
    z-index: 2; */
    /* initial means deafault value  */

    transition: all 0.6s ease-in-out 150ms;

    /* width: 100%; */
    height: 8.2vh;


}

.wrap{
    width: 100%;
    background-color: var(--header-color);
}

.main-stages-container {

    background-color: var(--header-color);

    width: 80%;
    /* height: 8.2vh; */

    margin: 0px auto;
    padding: 0px 9px;

    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    gap: 13px;
    /* overflow: hidden; */

    transition: all 1s ease 300ms ;

}

.main-stages-container:hover{
    /* justify-content: ; */
    gap: 0px;
}

.main-stages-container > div {

    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
    
    /* individual flex just like grid case  */
    display: flex;
    align-items: center;
    justify-content: center;

    flex-grow: 1;

    transform: skewX(13deg);

    width: 10px;

    transition: all 1.5s ease 300ms ;
}

/* .s1:hover,.s2:hover,.s3:hover,.s4:hover */

/* .s1:hover,.s2:hover,.s3:hover,.s4:hover {
    flex-grow: 1.25;
    incorporated in hover anim class
} */

.div-stages > .borderBottom{
    border-bottom: 2px solid var(--darker-black);
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 30%;

    transition: all 2s ease 150ms;
}

/* CHANGE REQUIRED0 */
.s1:hover>.borderBottom,.s2:hover>.borderBottom,.s3:hover>.borderBottom,.s4:hover>.borderBottom {
    border-bottom: 2px solid var(--header-font);
    position: absolute;
    left: 40%;
    right: 40%;
    bottom: 25%;
}

/* .s1 {
    clip-path: polygon(8% 0%,100% 0%,100% 100%, 0% 100%);
}

.s6 {
    clip-path: polygon(0% 0%,100% 0%,93% 100%, 0% 100%);
} */

/* 
COLORS 
                     BGCOLOR  COLOR
VISITED STATE COLOR = #0e0e0e #be9e44   ---- default
ACTIVE STATE COLOR = #be9e44 #0e0e0e
UNVISITED STATE COLOR = #FFEFCA #be9e44
red - #A03650
skin - #D7B08B
 */
/* cursor:not-allowed; instead just remove href attribut of anchor */

.div-stages {
    background-color: var(--stages-default);
}

.div-stages:hover {
    flex-grow: 1.25;
    box-shadow: 0px 100px 0px 0px var(--stages-hover) inset;
    color:var(--header-font);
    cursor:pointer;
}

/* ACTIVE STATE : 4TH STAGE */
/*==========ACTIVE STAGE==========*/

/* CHANGE REQUIRED1 */
/* .s3 {color: #0e0e0e;background-color:#be9e44 ;} */
/* .s3:hover{flex-grow: 1.25;} */
/* no hover animation for current stage obiviously  */

/*==========TO BE VISITED STAGE==========*/

/* for all consecutive stages except active state  */
/* CHANGE REQUIRED2 */
/* .s4,.s5,.s6 {color: #be9e44;background-color: #FFEFCA;} */
/* .s5,.s6{cursor: not-allowed;} */

/* only for the consecutive stage from active  */
/* CHANGE REQUIRED3 */
/* .s4:hover {color: #0e0e0e;box-shadow: 300px 0px 0px 0px #be9e44 inset;-webkit-box-shadow: 300px 0px 0px 0px #be9e44 inset;flex-grow: 1.25;} */
/* .s5:hover ~ .s4 {color: #be9e44;box-shadow: 100px 0px 0px 0px #0e0e0e inset;} doesnt work  */

/*==========ALREADY VISITED STAGE==========*/

/* all clases before active class  */
/* CHANGE REQUIRED4 */
/* .s1,.s2 {color: #be9e44;background-color: #0e0e0e;} */
/* .s1:hover,.s2:hover {color: #0e0e0e;box-shadow: 0px 100px 0px 0px #be9e44 inset;-webkit-box-shadow: 0px 100px 0px 0px #be9e44 inset;flex-grow: 1.25;} */

/* IMP - NO NEED TO REMOVE 5 OR 6 IF ITS ALREADY WHITE, CUZ NO CHANGE
DAYUM NO NEED TO COMMENT OUT ANYTHING ANYWHERE ONLY CHANGING THOSE BEFORE THIS COMMENT IS ENOUGH*/

/* SELF SUFFICIENT ---- NO CHANGE REQUIRED  */
/* for s1  */
/* .s1:hover ~ .s2 {color: #be9e44;box-shadow: 0px -100px 0px 0px #FFEFCA  inset;-webkit-box-shadow: 0px -100px 0px 0px #FFEFCA  inset;} */
/* .s1:hover ~ .s3 {color: #be9e44;box-shadow: 0px -100px 0px 0px #FFEFCA  inset;-webkit-box-shadow: 0px -100px 0px 0px #FFEFCA  inset;} */
/* .s1:hover ~ .s4 {color: #be9e44;box-shadow: 0px -100px 0px 0px #FFEFCA  inset;-webkit-box-shadow: 0px -100px 0px 0px #FFEFCA  inset;} */
/* .s1:hover ~ .s5 {color: #be9e44;box-shadow: 0px -100px 0px 0px #FFEFCA  inset;-webkit-box-shadow: 0px -100px 0px 0px #FFEFCA  inset;} */
/* .s1:hover ~ .s6 {color: #be9e44;box-shadow: 0px -100px 0px 0px #FFEFCA  inset;-webkit-box-shadow: 0px -100px 0px 0px #FFEFCA  inset;} */

/* for s2  */
/* .s2:hover ~ .s3 {color: #be9e44;box-shadow: 0px -100px 0px 0px #FFEFCA  inset;-webkit-box-shadow: 0px -100px 0px 0px #FFEFCA  inset;} */
/* .s2:hover ~ .s4 {color: #be9e44;box-shadow: 0px -100px 0px 0px #FFEFCA  inset;-webkit-box-shadow: 0px -100px 0px 0px #FFEFCA  inset;} */
/* .s2:hover ~ .s5 {color: #be9e44;box-shadow: 0px -100px 0px 0px #FFEFCA  inset;-webkit-box-shadow: 0px -100px 0px 0px #FFEFCA  inset;} */
/* .s2:hover ~ .s6 {color: #be9e44;box-shadow: 0px -100px 0px 0px #FFEFCA  inset;-webkit-box-shadow: 0px -100px 0px 0px #FFEFCA  inset;} */

/* for s3  */
/* .s3:hover ~ .s4 {color: #be9e44;box-shadow: 0px -100px 0px 0px #FFEFCA  inset;-webkit-box-shadow:  0px -100px 0px 0px #FFEFCA  inset;} */
/* .s3:hover ~ .s5 {color: #be9e44;box-shadow: 0px -100px 0px 0px #FFEFCA  inset;-webkit-box-shadow:  0px -100px 0px 0px #FFEFCA  inset;} */
/* .s3:hover ~ .s6 {color: #be9e44;box-shadow: 0px -100px 0px 0px #FFEFCA  inset;-webkit-box-shadow:  0px -100px 0px 0px #FFEFCA  inset;} */

/* for s4  */
/* .s4:hover ~ .s5 {color: #be9e44;box-shadow: 0px -100px 0px 0px #FFEFCA  inset;-webkit-box-shadow: 0px -100px 0px 0px #FFEFCA  inset;} */
/* .s4:hover ~ .s6 {color: #be9e44;box-shadow: 0px -100px 0px 0px #FFEFCA  inset;-webkit-box-shadow: 0px -100px 0px 0px #FFEFCA  inset;} */

/* for s5  */
/* .s5:hover ~ .s6 {color: #be9e44;box-shadow: 0px -100px 0px 0px #FFEFCA  inset;-webkit-box-shadow: 0px -100px 0px 0px #FFEFCA  inset;} */

/* for all clickable stages --- doesnt make sense */
/* .div-stages:hover {border-bottom: 6px solid #A03650;} */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~main-content-container~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* just dummy no need too define anything */
/* .main-content-container {height: 120vh; font-size: 30px;text-align: center; background-color: #A03650;} */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~main-footer-container~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~BASIC SETUP~~~~~~~~~~~~~~~~~~~~~*/

.main-footer-container {
    width: 100%;
    background-color: #0e0e0e;
    height: 13vh;

    display: grid;
    grid-template-columns: repeat(3,1fr) 0.15fr;
    grid-template-rows: 1fr;

}

.main-footer-container > div {
    /* margin: auto; works but need grid for animations*/
    display: grid;
    justify-items: center;
    align-items: center;

}


/*~~~~~~~~~~~~~~~~~~~~~ICONS~~~~~~~~~~~~~~~~~~~~~*/

.main-footer-container ion-icon{
    color: #be9e44;
    font-size: 50px;
}

/*~~~~~~~~~~~~~~~~~~~~~WHITESPACE~~~~~~~~~~~~~~~~~~~~~*/
/* to avoid rementioning black in every div  */
.whitespace{color: white; background-color: white;}

/*~~~~~~~~~~~~~~~~~~~~~TO-TOP~~~~~~~~~~~~~~~~~~~~~*/

.to-top {
    background-color: #0e0e0e;
}

.to-top > a{
    background-color: #0e0e0e;
    padding: 6px 4px;

    justify-self: right;
    transition: all 2s 150ms;
}

.to-top > a > span{
    display: block;
    transform: rotate(90deg);

    color: transparent;
    font-family: cardo;
    font-size: 22px;
    /* text-transform: uppercase; */
    /* font-family: 'Share', cursive; */
    font-weight: 500;

    transition: all 2s 150ms;
}

.to-top ion-icon {transition: all 2s 150ms;}

.to-top > a:hover {padding: 6px 4px;}

.to-top > a:hover > ion-icon {transform: translateY(-10px);}

.to-top > a:hover > ion-icon ~ span {color: #be9e44;transform: rotate(90deg) translateX(10px) translateY(2px);}

/*~~~~~~~~~~~~~~~~~~~~~title-text-bottom~~~~~~~~~~~~~~~~~~~~~*/

.title-text-bottom {
    padding: 5px 1px;
}

.h-rule > hr {
    width:50%;
    height: 1px;
    border-color: #be9e44;
} 

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~main-footer-container-2~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* cuz of display grid used for alignment takes each icon as a gird item  */

/*~~~~~~~~~~~~~~~~~~~~~BASIC SETUP~~~~~~~~~~~~~~~~~~~~~*/
.main-footer-container-2 {
    width: 100%;
    background-color: #0e0e0e;
    height: 40vh;

    display: grid;
    grid-template-columns: 1fr 0.045fr;
    grid-template-rows: repeat(2,1fr) 4fr;

}

.main-footer-container-2 > div {
    margin: auto; 
    /* works but need grid for animations */
    /* display: grid;
    justify-items: center;
    align-items: center; */

}

.side {
    grid-column: 2/-1;
}

.socials, .copyrights, .h-rule-2{
    grid-column: 1/span 1;
}

/*~~~~~~~~~~~~~~~~~~~~~ICONS~~~~~~~~~~~~~~~~~~~~~*/

.main-footer-container-2 ion-icon{
    color: #be9e44;
    font-size: 55px;

    transition: all;
    transition-duration: 1s;
    transition-delay: 150ms;
}

/*~~~~~~~~~~~~~~~~~~~~~socials~~~~~~~~~~~~~~~~~~~~~*/

.socials {
    padding: 10px 1px;
    letter-spacing: 10px;
}

.socials > a > ion-icon {
    /* opacity: 0.7; */
}

.socials > a:nth-child(1) > ion-icon:hover {color: #4267B2;}
.socials > a:nth-child(2) > ion-icon:hover {color: #E60023;}
.socials > a:nth-child(3) > ion-icon:hover {color: #FF0000;}
.socials > a:nth-child(4) > ion-icon:hover {color: #1DA1F2;}
.socials > a:nth-child(5) > ion-icon:hover {color: #bc2a8d;}

/*~~~~~~~~~~~~~~~~~~~~~copyrights~~~~~~~~~~~~~~~~~~~~~*/

.copyrights {
    color: grey;

    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: 400;
}

.h-rule-2 > hr{
    border-color: #be9e44;
    width: 1px;
    height: 16vh;
}

/*~~~~~~~~~~~~~~~~~~~~~to make title stay~~~~~~~~~~~~~~~~~~~~~*/

/* .main-header-container{
    position: sticky;

    top: 0%;
    left: 0%;
    right: 0%;
} */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~abi additions~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

